@import '~normalize.css/normalize.css';
@import 'variables';
@import 'components/header';
@import 'components/footer';
@import 'components/brand-section.scss';

html {
    box-sizing: border-box;
    // background: $black;
    background: #ccc;
    font-size: 14px;
    background: $black;
    overflow-x: hidden;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
}

.logo::after {
    content: url('/logo-mobile.svg');
    width: 103px;
    height: 24px;
    display: inline-block;
}

ul {
    li {
        list-style: none;
    }
    margin: 0;
    padding: 0;
}

.eye-icon {
    background: url("/eyeIcon.svg") center center no-repeat;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.arrow-right__icon {
    background: url("/arrow-right.svg") center center;
    background-size: contain;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
    margin: 0 8px;

}

@media (min-width: 1200px) {
    .logo::after {
        content: url('/logo.svg');
        width: 103px;
        height: 24px;
        display: inline-block;
    }

    .eye-icon {
        min-width: 52px;
        min-height: 52px;
    }
}