// colors
$purple: #9C64FC;
$purple-lignt: #BD98FD;
$pink-900: #EA5EFC;
$pink-700: #EDA8FA;
$pink-500: #F7C1FE;
$pink-300: #F7D9FD;
$orange-900: #F2BC1C;
$orange-700: #F5C461;
$orange-500: #FBE8C1;
$yellow: #FEED25;
$yellow-light: #FEF159;
$brown: #CEAB42;
