@import "../variables.scss";

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 371px;
    background: url("/BG.png");
    background-position: right -20vw bottom -65vh;
    background-size: 150vw 110vh;
    background-repeat: no-repeat;

    position: relative;
    a {
        color: $black;
        text-decoration: none;
    }
    ul {
        li {
            margin: 16px 8px;
        }
    }

    &-menu {
        &__link {
            line-height: 120%;
            letter-spacing: -0.84px;
            font-weight: 500;
        }
    }

    &-contacts {
        margin: 20px 0px 40px 0;
        //order: -1;
        &__link {
            font-size: 1.5rem;
            line-height: 100%;
            letter-spacing: -1.26px;
            font-weight: 500;



        }
    }

    &-action {
        // margin: 16px;
        &__link {
            font-size: 3.643rem;
            font-weight: 700;
            line-height: 100%;
            letter-spacing: -2.04px;
            text-transform: uppercase;
            display: inline-block;
            margin: 0px 8px 8px 8px;

        }
        a {
            text-decoration: underline;
        }
    }
}


@media (min-width: 768px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        background-size: 150vw 90vh;
        background-position: right -20vw bottom -50vh;
        &-menu {
            flex-grow: 1;
        }
    
        &-contacts {
            flex-grow: 1;
            order: -1;
        }

        &-action {
            width: 100%;
            margin-top: 217px;
        }
    }
}

@media (min-width: 1200px) {
    .footer {

        &-action {
            &__link {
                font-size: 8.786rem;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: -4.92px;
            }
        }
    }
}

@media (min-width: 1600px) {
    .footer {
        &-menu {
            flex-grow: 1;
            &__list {
                position: relative;
            }
    
            &__item {
                &:last-child {
                    position: absolute;
                    right: 0;
                    top: 0;
                    // margin: 0 16px;
                }
            }
    
        }
    
        &-contacts {
            &__list {
                display: flex;
            }
        }
    }
}