@import '~normalize.css/normalize.css';
@import 'variables';
@import 'components/header';
@import 'components/footer';
@import 'components/brand-section';
@import 'components/service-section';
@import 'components/callToActionButton';
@import 'components/svg-animation.scss';
html {
    box-sizing: border-box;
    background: $black;
    font-size: 14px;
    background: $black;
    overflow-x: hidden;
  }

// body {
//     background: url('/BG.png') center center;
// }

*, *:before, *:after {
    box-sizing: inherit;
}

.logo::after {
    content: url('/logo-mobile.svg');
    width: 103px;
    height: 24px;
    display: inline-block;
}

ul {
    li {
        list-style: none;
    }
    margin: 0;
    padding: 0;
}

a {
    &:hover {
        text-decoration: underline;
    }
}

.eye-icon {
    background: url("/eyeIcon.svg") center center no-repeat;
    background-size: contain;
    min-width: 32px;
    min-height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.arrow-right__icon {
    background: url("/arrow-right.svg") center center;
    background-size: contain;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
    //margin: 0 8px;
}

.button {
    all: unset;
    color: $gray;
    border: 2px solid rgba(216, 230, 241, 0.40);
    border-radius: 48px;
    cursor: pointer;
    padding: 20px 66px 24px 65px;
    font-size: 1.286rem;
    text-align: center;
    font-weight: 500;
    line-height: 100%; /* 18px */
    letter-spacing: -0.72px;
    background-image: linear-gradient($yellow 0 0);
    background-size: 100% 0%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    transition: background-size .3s, border .3s;

    &:active, &:hover {

        border: 2px solid $yellow;
        background-size: 100% 100%;
        color: $black;
    }

    // &:focus {
    //     background: $yellow;
    // }

    // &:active {
    //     //background: $yellow;
    // }

}

.content {
    z-index: 1;
    position: relative;
}
// .button {

// }

@media (min-width: 1200px) {
    .logo::after {
        content: url('/logo.svg');
        width: 103px;
        height: 24px;
        display: inline-block;
    }

    .eye-icon {
        min-width: 52px;
        min-height: 52px;
    }
}